<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> </p>
<form method="POST" action="users/delete?_method=DELETE">
    <a href="/users/logout" class="btn btn-primary">Logout?</a>
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>